* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    background-color: rgb(189, 255, 255);
}

ul, a, p, pre {
    color: black;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

header {
    background-color: rgb(131, 210, 249);
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.wrapper {
    align-items: center;
    height: 400px;
    display: flex;
    background-color: aqua;
}

.photo {
    padding-left: 10%;
    width: 40%;
}

.myPhoto {
    display: block;
    height: 330px;
    width: 330px;
    border-radius: 50%;
}

.me {
    margin: 0 auto;
    text-align: center;
}

.name {
    margin: 0;
    padding: 0;
    font-size: 60px;
    font-family: 'Lobster', cursive;
}

.job {
    margin: 0;
    padding: 0;
    font-size: 30px;
}

h2 {
    margin: 0;
    padding: 0;
    margin-left: 5%;
    font-size: 30px;
    font-family: 'Anton', sans-serif;
    text-decoration: underline;
    letter-spacing: 2px;
    color: rgb(46, 46, 95);
    padding-bottom: 10px;
    padding-top: 10px;
}

main .container{
    display: flex;
}

.aside {
    width: 25%;
    background-color: aquamarine;
    font-size: 20px;
}

.myInformation {
    width: 75%;
    background-color: rgb(159, 183, 236);
}

.codeEx {
    background-color: rgb(182, 182, 182);
}

.codeEx pre {
    margin-left: 5%;
    font-size: 20px;
}

.contacts ul{
    margin-left: 5%;
}

.education p{
    margin-left: 5%;
}

.years {
    font-style: italic;
}

.languages ul {
    margin-left: 5%;

}

.aboutMe p {
    margin-left: 3%;
    margin-right: 3%;
    font-size: 25px;
}

.skills p {
    margin-left: 3%;
    margin-right: 3%;
    font-size: 25px;  
}

footer .container {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(96, 96, 96);
    display: flex;
    justify-content: space-around;
}

.year {
    font-size: 40px;
}

.github img {   
    height: 50px;
}

.link img {
    height: 50px;
}

.name a {
    transition: 2s;
}

.name a:hover {
    color:rgb(159, 183, 236)
}

.contacts a {
    transition: .5s;
}

.contacts a:hover {
    color:rgb(64, 173, 173)
}

.pro {
    margin-left: 3%;
    margin-right: 3%;
    font-size: 25px;
    margin-bottom: 10px;
}